<%- include('header') -%>
   <!DOCTYPE html>
   <html lang="en">

   <head>
      <link rel="stylesheet" type="text/css" href="/css/index.css">
      <title>Text Area - New Text</title>
   </head>

   <body>

      <ul id="navbar">
         <li class="navbarli"><a href="javascript:;"
               onclick="document.getElementById('textAreaForm').submit();">Save</a></li>
         <li class="navbarli"><a href="/">New</a></li>
      </ul>
      <div align="center">
         <% if (alert) { %>
            <% if (alertType==="error" ) { %>
               <div class="alertError">
                  <span class="closebtn" onclick="location.href='/'">&times;</span>
                  <%- alert %>
               </div>
               <% } %>
                  <% if (alertType==="success" ) { %>
                     <div class="alertSuccess">
                        <span class="closebtn" onclick="location.href='/'">&times;</span>
                        <%- alert %>
                     </div>
                     <% } %>
                        <% } %>
                           <div class="main">
                              <h1 style="color:white;"> Text Area</h1>
                              <hr>
                              <form id="textAreaForm" action="/" method="post">
                                 <textarea placeholder="> Write somethink..." id="textarea" name="textarea"
                                    title="Text Area" rows="22" cols="70" required></textarea>
                                 <br>

                              </form>
                           </div>
      </div>
   </body>

   </html>