<%- include('header') -%>



<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>ADDText - <%- code %> </title>
</head>
<body>
    


</body>
</html>