ul#navbar {
    list-style-type: none;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(71, 71, 71);
    
  }
  
  li.navbarli {
    float: left;
  }
  

li.navbarli a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

  ul#navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  li.navbar a:hover {
    background-color: rgb(167, 54, 54);
  }